h3, h2, h1 {
  font-family: "Caveat", cursive;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px dotted darkgreen;
  padding: 5px;
}

p {
  text-indent: 5%;
  font-style: oblique;
  padding: 3px;
}

h1 {
  border-radius: 4px;
  background-color: lightcyan;
}

h2 {
  border-radius: 2px;
  background-color: honeydew;
}

h3 {
  border-radius: 1px;
  background-color: snow;
}

ul {
  font-family: "Bree Serif", serif;
  color: blue;
  font-style: italic;
}

ol {
  font-family: "Bree Serif", serif;
  color: red;
  font-style: italic;
}

body {
  background-image: url(../Pictures/PozadinaI.png);
}

.welcome {
  font-family: "Caveat", cursive;
  font-size: 1.5rem;
}

.container {
  background-color: azure;
}

.btn {
  font-size: 1.7rem;
}

table, th, td {
  border: 1px solid black;
  text-align: right;
  border-collapse: collapse;
}

thead
{
    background-color: #abc5be;
}

th
{
  font-style: italic;
  font-weight: 300;
}

.ksi
{
  background-color: #abc5be;
  color: #0000ff;
}

.odd
{
    background-color: #b9b9c3;
}

.table_data
{
    background-color: #b9b9c3;
}

.space
{
  padding: 5px;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
  font-weight: bold;
}